html *
{
   //font-size: 1em !important;

   //color: white !important;
   //color: black;
   font-family: sans-serif !important;
}

body {
    background-color: #1a182a;
    //background: seagreen;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrap{
    width:960px;
    margin: auto;
}

.menu{
    background-image: url(../images/menu.png);
    //background: lime;
    height:40px;
}

.topmenu {
    float: right;
    margin: 10px 0 0;
    position: right;
    padding-right: 10px;
    //background: gray;
}

.topmenu li {
    float: left;
    padding-right: 69px;
    list-style: none outside none;
}

.topmenu li a {
    color: #eee;
    text-decoration: none;
}

.topmenu .active {
    color: gold;
    text-decoration: none;
}

.logo {
    float: left;
    height: 41px;
    width: 72px;
    padding-left: 10px;
    position: left;
    
}

////////////////// header-promo ///////////////////////

.clear:after {
    clear: both;
    content: "";
    display: table;
}

.header-promo {
    clear:both;
    background-image: url("../images/header.jpg");
    //background: tomato;
    width: 960px;
    height: 350px;
    position: relative;
}
 

.header-promo .promo {
   
    color: #eee;
    float: right;
    font-size: 30px;
    line-height: 46px;
    margin: 35px;
    text-align: right;
    text-transform: uppercase;
   
}


///////////////// after header ////////////////////

.after_header {
    //background-image: url("../images/skoro2.jpg");
    //background: darkcyan;
    height: 21px;
    //margin: auto;
    //position: relative;
    width: 960px;

}


.columnContainer {
    color: #eee;
    width:960px;
    margin:0px auto;
    overflow: hidden;
 
}

.column {

    float: left;
    width: 45%;
    padding: 1%;
    
}

.column#left {
    //background-image: url("../images/skoro2.jpg");
    //background: yellow;
}

.column#right {
    //background: orange;
}

.column > h1 {
    background-image: url("../images/menu.png");
    //background: maroon;
    text-align: center;
}

.movie-img > img { 
    width: 100px;
    float: left; 
    margin: 5px 15px 15px 5px; 
}

.movie-entry {
    margin: 0px 20px 20px 0px;
    //background: lavender;

}

.movie-entry .title {
    font-weight:bold;
    font-size: 120%;
    padding: 5px; 
}

.movie-entry img { 
    width: 100px;
    float: left; 
    margin: 5px 15px 15px 5px; 
}

.movie-entry .desc {
    margin: 5px 5px 5px 120px;  
}

.translation {
    text-align: right;
    padding: 10px;
}

.translation img {
    width: 20px;
    height: 20px;
    float: right; 
    margin: 0px 30px 5px 20px;
}

.movie-entry .iwant {
    padding: 10px;
    //background: red;
    height: 20px;
} 

.saveandgo {
    //background: white;
    height: 80px;
    width: 960px;
    padding-top: 15px;
}

header-promo .upload-btn {
    
    float: left;
//    padding-left: 100px;
    //left: 306px;
    //position: relative;
    //top: 20px;
    //padding-top: 15px;
    //margin: auto;
}

.saveandgo .upload-btn {
    
    float: left;
    padding-left: 100px;
}

.gotocinema-btn {
    float: right;
    padding-right: 100px;
    //left: 442px;
    //position: relative;
    //top: 20px;
    //padding-top: 15px;
    //margin: auto;
}


.wtm {
    color: #eee;
    text-align: left;
    margin: auto;
    //width: 800px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 100%;

}

.wtm p, .howitworks p {
    color: #eee;
    font-family: sans-serif;
    //font-size: 120%;
    line-height: 23px;
}

.howitworks {
    color: #eee;
    margin: auto;
    padding-bottom: 15px;
    //width: 800px;
    font-size: 100%;
}

.howitworks h1, .wtm h1 {
    color: #eee;
    margin-bottom: 40px;
    text-align: center;
}

.howitworks h2, .wtm h2 {
    color: #eee;
    text-align: center;
}

.topupload {
    color: #eee;
    left: 100px;
    position: relative;
    top: 195px;
}

.red-link {
    color: Crimson;
}

.picture-leading  {
    width: 960px;
    margin: auto;
}

.saveandgo {
    width: 960px;
}

.footer {
    color: #eee;
    background-image: url("../images/footer.jpg");
    height: 40px;
}

.copyright {
    float:left;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    //background: white;

}

.socials li {
    float: left;
    list-style: none outside none;
    padding: 5px;
}

.socials img {
    width: 25px;
    position: center;
}

.socials {
    //background: yellow;
    margin: auto;
    margin-left: 320px;
    margin-right: auto;
    width: 400px;
}


.email {
    //background: gray;
    float:right;
    margin: auto;
    margin-top: 10px;
    margin-right: 10px;
}

